#header .top {
min-width: 1096px;
height: 202px;
position: relative;
background-image: url(/img/HEADER.gif);
background-repeat: no-repeat;
background-position: center;
background-color: black;
}

#header .welcome .title {
color: #23378d;
font-family: AlternateGothicNo1;
font-size: 48px;
line-height: 57px;
padding: 63px 0 0 87px;
letter-spacing: 2px;
position: absolute;
}

#header .bottom {
background-color: #AEB3D1;
width: 100%;
min-height: 50px;
position: relative;
padding-bottom: 20px;
}

#header .welcome .intro {
color: #23378d;
font-family: helvetica;
font-size: 14px;
line-height: 20px;
word-spacing: 2px;
}

#header .content_filter {
border-left: 3px solid #23378d;
height: 103px;
width: 520px;
float: right;
position: relative;
margin-top: 21px;
z-index: 9000;
padding-left: 53px;
}

#header .content_filter .title {
    padding: 10px 0 0 33px;
    color: #23378d;
}

.btn {
color: #23378d;
}

.btn-group > .btn, .btn-group > .dropdown-menu {
font-size: 15px;
font-weight: bold;
}

#mainnav {
background-image: -webkit-linear-gradient(top, #0333C5, rgba(95, 124, 218, 0));
background-image: linear-gradient(top, #fefaff, #ece8ed);
background-image: -o-linear-gradient(top, #fefaff, #ece8ed);
background-image: -moz-linear-gradient(top, #fefaff, #ece8ed);
background-image: -ms-linear-gradient(top, #fefaff, #ece8ed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefaff', endColorstr='#ece8ed');
}

#footer .bottom {
min-width: 1096px;
height: 80px;
position: relative;
background-image: url(/img/BrantRadiantfooter.png);
background-repeat: no-repeat;
background-position: center;
background-color: #b6bad6;
width: 100%;
}

#footer .redbar {
background-color: #23378d;
width: 100%;
height: 10px;
}

#footer .address h2 {
font-family: MyriadPro- Bold;
font-size: 19px;
margin: 0;
color: #333;
}

#footer .address p, #footer .links {
font-size: 17px;
font-family: MyriadPro- Bold;
line-height: 18px;
}

#footer .address {
margin: 19px 0 0 0;
padding: 0 50px 0 75px;
border-right: solid 1px;
border-color: #C8C8C8;
}

/* About Page css override */

#content h1 {
font-family: AlternateGothicNo1;
font-weight: 100;
font-size: 61px;
line-height: 60px;
color: #23378D;
margin: -8px 0 0;
}

#content h2 {
font-size: 19px;
line-height: 36px;
color: #848484;
margin: -5px 0 0;
clear: both;
}

/* /About Page css override */

/* Locate Distributor css override */

/* /Locate Distributor css override */