<div class="sidebar_left">
  <h2>
    About Infrared          </h2>
  <ul>
    <li class="page_item page-item-185"><a href="/about_infrared.html">What is Infrared</a></li>
    <li class="page_item page-item-211"><a href="/types_of_infrared_heaters.html">Types of Infrared Heaters</a></li>
    <li class="page_item page-item-241"><a href="/benefits_of_infrared.html">Benefits of Infrared</a>
      <ul class='children'>
	<li class="page_item page-item-249"><a href="/flexibility.html">Flexibility</a></li>
	<li class="page_item page-item-261"><a href="/fuel_savings.html">Fuel Savings</a></li>
	<li class="page_item page-item-268"><a href="/independent_studies.html">Independent Studies</a></li>
      </ul>
    </li>
    <li class="page_item page-item-396"><a href="http://staging.detroitradiant.ideosolutions.com/about-infrared/application-gallery/" target="_blank">Application Gallery</a></li>
    <li class="page_item page-item-287"><a href="/applications_by_industry.html">Applications by Industry</a>
      <ul class='children'>
	<li class="page_item page-item-297"><a href="/agriculture.html">Agriculture</a></li>
	<li class="page_item page-item-304"><a href="/aircraft_hangers.html">Aircraft Hangars</a></li>
	<li class="page_item page-item-311 current_page_item"><a href="#">Automotive</a></li>
	<li class="page_item page-item-321"><a href="/car_washes.html">Car Washes</a></li>
	<li class="page_item page-item-334"><a href="/military.html">Military</a></li>
	<li class="page_item page-item-344"><a href="/municipal.html">Municipal</a></li>
	<li class="page_item page-item-355"><a href="/outdoor.html">Outdoor</a></li>
	<li class="page_item page-item-367"><a href="/spot_heating.html">Spot Heating</a></li>
	<li class="page_item page-item-383"><a href="/warehouses.html">Warehouses</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- /.sidebar_left -->
